# Please see the documentation for all configuration options:
# https://docs.github.com/en/enterprise-cloud@latest/code-security/dependabot/dependabot-version-updates

version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: weekly

  - package-ecosystem: cargo
    directory: '/'
    schedule:
      interval: weekly
    cooldown:
      default-days: 7

  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: weekly
    cooldown:
      default-days: 7
    allow:
      - dependency-type: all
    ignore:
      - dependency-name: '@dfinity/*'
      - dependency-name: '@types/*'
      - dependency-name: 'typescript'
    open-pull-requests-limit: 10
    groups:
      solana-kit:
        patterns:
          - '@solana-program/compute-budget'
          - '@solana-program/system'
          - '@solana-program/token'
          - '@solana-program/token-2022'
          - '@solana/kit'
      vitest-group:
        patterns:
          - 'vitest'
          - '@vitest/coverage-v8'
