VITE_ETHEREUM_MAINNET=false
VITE_ETHERSCAN_API_KEY=
VITE_INFURA_API_KEY=
VITE_ALCHEMY_API_KEY=
VITE_WALLET_CONNECT_PROJECT_ID=
VITE_OISY_NAME="Oisy Wallet"
VITE_OISY_ONELINER="A novel Ethereum wallet hosted on the Internet Computer"
VITE_OISY_DESCRIPTION="Crafted for the Internet Computer, Oisy is a unique Ethereum wallet that operates directly within your browser. It is entirely on-chain and secured by chain-key cryptography and Internet Identity."
VITE_OISY_URL=https://oisy.com
VITE_OISY_ICON=https://oisy.com/favicons/icon-512x512.png
VITE_OISY_REPO_URL=https://github.com/dfinity/oisy-wallet
VITE_OISY_ALPHA_WARNING_URL="https://github.com/dfinity/oisy-wallet#status"
VITE_ERC20_ICP_SYMBOL=ckICP
VITE_ERC20_ICP_REPO_URL=https://github.com/dfinity/erc20-icp
VITE_COINGECKO_API_URL=https://api.coingecko.com/api/v3
VITE_JUNO_SATELLITE_ID=
VITE_JUNO_ORBITER_ID=