# Various IDEs and Editors
.vscode/
.idea/
**/*~

# Mac OSX temporary files
.DS_Store
**/.DS_Store

# dfx temporary files
.dfx/

# rust and downloaded wasm|did files
target/

# frontend code
node_modules/
build/
.svelte-kit/
package/

# environment variables
.env
.env.*
!.env.example
!.env.test

vite.config.js.timestamp-*
vite.config.ts.timestamp-*

internet_identity.wasm
internet_identity.did

codes.txt

backend.wasm.gz
backend-v*.wasm.gz
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
pocket-ic

e2e/*-snapshots/*Chrome-darwin.png