[package]
name = "backend"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
crate-type = ["cdylib"]

[dependencies]
candid = "0.9.3"
ic-cdk = "0.10.0"
ic-cdk-macros = "0.7.1"
ic-cdk-timers = "0.4"
serde = "1"
tiny-keccak = { version = "2", features = ["keccak"] }
k256 = "0.13"
hex = "0.4"
getrandom = { version = "0.2", features = ["custom"] }
