name: Backend Checks

on:
  pull_request:
    paths:
      - # Scripts, GitHub actions that contain 'backend' in their path.
        '**/*backend*'
      - # The backend source code
        'src/backend/**'
      - 'src/shared/**'
      - # Rust files such as Cargo.lock, Cargo.toml and rust-toolchain.toml
        '**/Cargo*'
      - '**/*rust*'
      - # The dockerfile used in this CI run, and the scripts it COPY's.
        'Dockerfile'
      - 'docker/**'
      - # There may be some files in frontend folder that contains 'backend' in their name.
        '!src/frontend/**'
  merge_group:
  workflow_dispatch:

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-backend-tests-${{ hashFiles('Cargo.lock', 'rust-toolchain.toml') }}
      - name: Install rust
        run: ./scripts/setup rust
      - name: Lint rust
        run: ./scripts/lint.rust.sh
      - name: Lint candid
        run: ./scripts/lint.did.sh

  workspace-dependencies:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - run: sudo snap install yq
      - name: Dependencies are defined in the workspace
        run: ./scripts/lint.cargo-workspace-dependencies.sh

  backend-checks-pass:
    needs: ['lint', 'workspace-dependencies']
    if: ${{ always() }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/needs_success
        with:
          needs: '${{ toJson(needs) }}'
