name: Backend Checks

on:
  pull_request:
  merge_group:
  workflow_dispatch:

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Check if backend files changed
        id: changes
        uses: ./.github/actions/check-backend-changes
      - uses: actions/cache@5a3ec84eff668545956fd18022155c47e93e2684 # v4.2.3
        if: steps.changes.outputs.any == 'true'
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-backend-tests-${{ hashFiles('Cargo.lock', 'rust-toolchain.toml') }}
      - name: Install rust
        if: steps.changes.outputs.any == 'true'
        run: ./scripts/setup rust
      - name: Lint rust
        if: steps.changes.outputs.any == 'true'
        run: ./scripts/lint.rust.sh
      - name: Lint candid
        if: steps.changes.outputs.any == 'true'
        run: ./scripts/lint.did.sh

  workspace-dependencies:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - name: Check if backend files changed
        id: changes
        uses: ./.github/actions/check-backend-changes
      - if: steps.changes.outputs.any == 'true'
        run: sudo snap install yq
      - name: Dependencies are defined in the workspace
        if: steps.changes.outputs.any == 'true'
        run: ./scripts/lint.cargo-workspace-dependencies.sh

  backend-checks-pass:
    needs: ['lint', 'workspace-dependencies']
    if: ${{ always() }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false
      - uses: ./.github/actions/needs_success
        with:
          needs: '${{ toJson(needs) }}'
