name: Backend Tests

on:
  pull_request:
    paths:
      - 'src/backend/**'
      - 'src/shared/**'
  workflow_dispatch:

jobs:

  docker-build-base:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Base Docker Image
        uses: ./.github/actions/docker-build-base

  docker-build:
    runs-on: ubuntu-20.04
    needs: docker-build-base
    strategy:
      matrix:
        include:
          - name: backend.wasm.gz
            target: scratch_backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build canister WASM
        uses: ./.github/actions/docker-build-backend
        with:
          name: ${{ matrix.name }}
          target: ${{ matrix.target }}

  tests:
    runs-on: ubuntu-20.04
    needs: [ 'docker-build' ]
    steps:
      - uses: actions/checkout@v4

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-backend-tests-${{ hashFiles('Cargo.lock', 'rust-toolchain.toml') }}

      - name: Download backend.wasm.gz
        uses: actions/download-artifact@v4
        with:
          name: backend.wasm.gz
          path: .

      - name: "Run backend tests"
        working-directory: .
        run: ./scripts/test.backend.sh

  format:
    runs-on: ubuntu-20.04
    needs: [ 'docker-build' ]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-backend-tests-${{ hashFiles('Cargo.lock', 'rust-toolchain.toml') }}
      - name: Install cargo dependency sorter
        run: cargo install cargo-sort@1.0.9
      - name: Format
        run: ./scripts/format.rust.sh
      - name: Check formatted
        run: |
          test -z "$(git status --porcelain)" || {
                  echo "FIX: Please run ./scripts/format.sh"
                  git diff
                  exit 1
          }

  may-merge:
    needs: [ 'tests', 'format' ]
    runs-on: ubuntu-20.04
    steps:
      - name: Cleared for merging
        run: echo OK
