name: Backend Checks

on:
  pull_request:
  merge_group:
  workflow_dispatch:

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Check if backend files changed
        id: changes
        uses: ./.github/actions/check-backend-changes
      - uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        if: steps.changes.outputs.backend == 'true'
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-backend-tests-${{ hashFiles('Cargo.lock', 'rust-toolchain.toml') }}
      - name: Install rust
        if: steps.changes.outputs.backend == 'true'
        run: ./scripts/setup rust
      - name: Lint rust
        if: steps.changes.outputs.backend == 'true'
        run: ./scripts/lint.rust.sh
      - name: Lint candid
        if: steps.changes.outputs.backend == 'true'
        run: ./scripts/lint.did.sh

  workspace-dependencies:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - name: Check if backend files changed
        id: changes
        uses: ./.github/actions/check-backend-changes
      - name: Install yq
        if: steps.changes.outputs.backend == 'true'
        run: sudo snap install yq
      - name: Dependencies are defined in the workspace
        if: steps.changes.outputs.backend == 'true'
        run: ./scripts/lint.cargo-workspace-dependencies.sh

  backend-checks-pass:
    needs: ['lint', 'workspace-dependencies']
    if: ${{ always() }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false
      - uses: ./.github/actions/needs_success
        with:
          needs: '${{ toJson(needs) }}'
