name: Backend Checks

on:
  pull_request:
  merge_group:
  workflow_dispatch:

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Check if backend files changed
        id: changes
        uses: ./.github/actions/check-backend-changes
      - uses: actions/cache@0400d5f644dc74513175e3cd8d07132dd4860809 # v4.2.4
        if: steps.changes.outputs.backend == 'true'
        with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: ${{ runner.os }}-cargo-backend-tests-${{ hashFiles('Cargo.lock', 'rust-toolchain.toml') }}
      - name: Install rust
        if: steps.changes.outputs.backend == 'true'
        run: ./scripts/setup rust
      - name: Lint rust
        if: steps.changes.outputs.backend == 'true'
        run: ./scripts/lint.rust.sh
      - name: Lint candid
        if: steps.changes.outputs.backend == 'true'
        run: ./scripts/lint.did.sh

  workspace-dependencies:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Check if backend files changed
        id: changes
        uses: ./.github/actions/check-backend-changes
      - name: Install yq
        if: steps.changes.outputs.backend == 'true'
        run: sudo snap install yq
      - name: Dependencies are defined in the workspace
        if: steps.changes.outputs.backend == 'true'
        run: ./scripts/lint.cargo-workspace-dependencies.sh

  backend-checks-pass:
    needs: ['lint', 'workspace-dependencies']
    if: ${{ always() }}
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - uses: ./.github/actions/needs_success
        with:
          needs: '${{ toJson(needs) }}'
