name: Update Frontend Test Coverage Thresholds

on:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

permissions: {}

jobs:
  update-test-coverage-thresholds:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.PR_AUTOMATION_BOT_PUBLIC_APP_ID }}
          private-key: ${{ secrets.PR_AUTOMATION_BOT_PUBLIC_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Save current thresholds
        run: cp vitest.config.ts vitest.config.before.ts

      # There is an inconsistency in the merging of the sharded run reports, between the complete run and the sharded ones.
      # It causes an issue when comparing the saved thresholds (complete run) with the coverage run in each PR (sharded run).
      # So, for now, we run the sharded tests to save the new thresholds.
      # Issue: https://github.com/vitest-dev/vitest/issues/8616 (note that it could be caused by our code or vitest)
      # TODO: Re-instate the complete run when the issue is fixed.
      # - name: Test
      # run: npm run test:coverage

      - name: Test (shards)
        env:
          SHARD_TOTAL: 20
        run: |
          for i in $(seq 1 "$SHARD_TOTAL"); do
            echo "Running shard $i/$SHARD_TOTAL"
            npm run test:coverage -- \
              --reporter=blob \
              --reporter=default \
              --shard="$i/$SHARD_TOTAL" \
              --coverage.thresholds.0 \
              --coverage.thresholds.autoUpdate=false
          done

      - name: Test (merge)
        run: npm run test:merge

      - name: Upload Coverage Report
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always()
        with:
          name: vitest-coverage-threshold-${{ github.event_name }}-${{ github.run_id }}-${{ github.run_attempt }}
          path: coverage/
          retention-days: 3

      - name: Adapt the thresholds with margins and checks
        run: npm run build:vitest-thresholds

      - name: Remove old thresholds file
        run: rm vitest.config.before.ts

      - name: Format
        run: npm run format:file --file=vitest.config.ts

      - name: Check for Coverage Thresholds Changes
        id: check_changes
        run: |
          if [[ -n "$(git status --porcelain)" ]]; then
            echo "changes_detected=true" >> $GITHUB_OUTPUT
          else
            echo "changes_detected=false" >> $GITHUB_OUTPUT
          fi

      - name: Stage Changes on main
        if: steps.check_changes.outputs.changes_detected == 'true'
        run: git add vitest.config.ts

      - name: Create Pull Request
        if: steps.check_changes.outputs.changes_detected == 'true'
        uses: ./.github/actions/create-pr
        with:
          token: ${{ steps.app-token.outputs.token }}
          branch: bot-update-vitest-coverage-thresholds
          paths: vitest.config.ts
          title: 'test(frontend): Update Vitest coverage thresholds'
          body: |
            The current thresholds for the Vitest coverage report have been updated since they increased. This is an automated PR to keep the thresholds in sync with the latest test coverage results.
