name: Frontend Tests

on:
  pull_request:
    paths:
      - 'src/frontend/**'

jobs:

  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Test
        run: npm run test

  may-merge:
    needs: ['test']
    runs-on: ubuntu-latest
    steps:
      - name: Cleared for merging
        run: echo OK
