name: Frontend Reproducibility

on:
  pull_request:
    paths:
      - package-lock.json
  release:
    types: [ released ]
  workflow_dispatch:

permissions: { }

jobs:
  frontend-reproducibility:
    runs-on: ubuntu-24.04
    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Run reproducibility test
        run: |
          bash ./scripts/test.frontend.reproducibility.sh
          exit_code=$?
          echo "Script exited with code $exit_code"
          if [ $exit_code -ne 0 ]; then
            echo "Difference detected in build files"
            exit 1
          else
            echo "No difference found"
          fi
        shell: bash
