name: Remove Unused Svelte Files

on:
  schedule:
    - cron: '30 3 1 * *'
  workflow_dispatch:

permissions: {}

jobs:
  check-unused-files:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@67018539274d69449ef7c02e8e71183d1719ab42 # v2.1.4
        id: app-token
        with:
          app-id: ${{ vars.PR_AUTOMATION_BOT_PUBLIC_APP_ID }}
          private-key: ${{ secrets.PR_AUTOMATION_BOT_PUBLIC_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false
      - name: Prepare
        uses: ./.github/actions/prepare

      - name: Remove unused Svelte files
        run: ./scripts/check.unused.svelte.sh --remove-files
        continue-on-error: true

      - name: Stage Changes
        run: git add .

      - name: Check the Changed Files
        run: |
          if ! git diff --cached --quiet; then
            DELETED_FILES=$(git diff --cached --name-only)
            echo "DELETED_FILES<<EOF" >> $GITHUB_ENV
            echo "$DELETED_FILES" >> $GITHUB_ENV
            echo "EOF" >> $GITHUB_ENV
          fi

      # This action creates a PR only if there are changes.
      - name: Create Pull Request
        uses: ./.github/actions/create-pr
        with:
          token: ${{ steps.app-token.outputs.token }}
          branch: bot-frontend-remove-unused-svelte-files
          title: 'chore(frontend): Remove Unused Svelte Files'
          body: |
            The following files were removed because they were not used in the project anymore:
            ```
            ${{ env.DELETED_FILES }}
            ```
