name: Generate Release Notes on Tag

run-name: Generate Release Notes for Tag ${{ github.ref_name }}

on:
  push:
    tags:
      - v*
  workflow_dispatch:

permissions: {}

jobs:
  release_notes:
    if: github.ref_type == 'tag'
    runs-on: ubuntu-24.04
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Publish Release Notes
        uses: ./.github/actions/release-notes
        with:
          tag: ${{ github.ref_name }}
          app-id: ${{ vars.PR_AUTOMATION_BOT_PUBLIC_APP_ID }}
          private-key: ${{ secrets.PR_AUTOMATION_BOT_PUBLIC_PRIVATE_KEY }}
