name: Release

on:
  release:
    types: [released]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  #####################
  # The docker builds #
  #####################

  docker-build-base:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Base Docker Image
        uses: ./.github/actions/docker-build-base

  docker-build:
    runs-on: ubuntu-24.04
    needs: docker-build-base
    strategy:
      matrix:
        include:
          - name: backend.wasm.gz
            target: backend

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build ${{ matrix.name }} canister WASM
        uses: ./.github/actions/docker-build-backend
        with:
          name: ${{ matrix.name }}
          target: ${{ matrix.target }}
          network: ic

  candid:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        include:
          - name: backend.did
            target: backend

    steps:
      - uses: actions/checkout@v4

      - name: 'Upload ${{ matrix.name }}'
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.name }}
          path: ./src/${{ matrix.target }}/${{ matrix.name }}

  release:
    runs-on: ubuntu-24.04
    needs: ['docker-build', 'candid']
    steps:
      - uses: actions/checkout@v4

      - name: Download backend.wasm.gz
        uses: actions/download-artifact@v4
        with:
          name: backend.wasm.gz
          path: .

      - name: Download backend.did
        uses: actions/download-artifact@v4
        with:
          name: backend.did
          path: .

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./backend*.wasm.gz
            ./backend*.did
