name: Release

on:
  release:
    types: [released]
  workflow_dispatch:

permissions: {}

jobs:
  #####################
  # The docker builds #
  #####################

  docker-build-base:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Build Base Docker Image
        uses: ./.github/actions/docker-build-base

  docker-build:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    needs: docker-build-base
    strategy:
      matrix:
        include:
          - name: backend.wasm.gz
            target: backend

    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Build ${{ matrix.name }} canister WASM
        uses: ./.github/actions/docker-build-backend
        with:
          name: ${{ matrix.name }}
          target: ${{ matrix.target }}
          network: ic

  candid:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
    strategy:
      matrix:
        include:
          - name: backend.did
            target: backend

    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: 'Upload ${{ matrix.name }}'
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ matrix.name }}
          path: ./src/${{ matrix.target }}/${{ matrix.name }}

  release:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    needs: ['docker-build', 'candid']
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Download backend.wasm.gz
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: backend.wasm.gz
          path: .

      - name: Download backend.did
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          name: backend.did
          path: .

      - name: Release
        uses: softprops/action-gh-release@72f2c25fcb47643c292f7107632f7a47c1df5cd8 # v2.3.2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./backend*.wasm.gz
            ./backend*.did
