name: Update Tokens

on:
  schedule:
    - cron: '30 3 * * MON'
    - cron: '30 3 * * THU'
  push:
    branches:
      - main
    paths:
      - 'src/frontend/src/env/tokens/**/*.json'
  workflow_dispatch:

permissions: {}

jobs:
  update-tokens-sns:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.PR_AUTOMATION_BOT_PUBLIC_APP_ID }}
          private-key: ${{ secrets.PR_AUTOMATION_BOT_PUBLIC_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Update
        run: npm run build:tokens-sns

      # This action creates a PR only if there are changes.
      - name: Create Pull Request
        uses: ./.github/actions/create-pr
        with:
          token: ${{ steps.app-token.outputs.token }}
          branch: bot-tokens-sns-update
          title: 'feat(frontend): Update SNS Tokens'
          body: |
            Modifications have been made to the icons and metadata of the ICRC tokens known to the SNS-Aggregator.

  update-tokens-ckerc20:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.PR_AUTOMATION_BOT_PUBLIC_APP_ID }}
          private-key: ${{ secrets.PR_AUTOMATION_BOT_PUBLIC_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Update
        run: npm run build:tokens-ckerc20

      # This action creates a PR only if there are changes.
      - name: Create Pull Request
        uses: ./.github/actions/create-pr
        with:
          token: ${{ steps.app-token.outputs.token }}
          branch: bot-tokens-ckerc20-update
          title: 'feat(frontend): Update ckERC20 Tokens'
          body: |
            Modifications have been made to the list of ckERC20 tokens deployed by the Orchestrator and/or to their icons.

  update-tokens-additional-icrc:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.PR_AUTOMATION_BOT_PUBLIC_APP_ID }}
          private-key: ${{ secrets.PR_AUTOMATION_BOT_PUBLIC_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Update
        run: npm run build:tokens-icrc

      # This action creates a PR only if there are changes.
      - name: Create Pull Request
        uses: ./.github/actions/create-pr
        with:
          token: ${{ steps.app-token.outputs.token }}
          branch: bot-tokens-additional-icrc-update
          title: 'feat(frontend): Update additional ICRC Tokens'
          body: |
            Modifications have been made to the icons and metadata of the additional ICRC tokens.

  update-tokens-ext:
    runs-on: ubuntu-24.04
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Create GitHub App Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: ${{ vars.PR_AUTOMATION_BOT_PUBLIC_APP_ID }}
          private-key: ${{ secrets.PR_AUTOMATION_BOT_PUBLIC_PRIVATE_KEY }}
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - name: Prepare
        uses: ./.github/actions/prepare
      - name: Update
        run: npm run build:tokens-ext

      # This action creates a PR only if there are changes.
      - name: Create Pull Request
        uses: ./.github/actions/create-pr
        with:
          token: ${{ steps.app-token.outputs.token }}
          branch: bot-tokens-additional-icrc-update
          title: 'feat(frontend): Update additional ICRC Tokens'
          body: |
            Modifications have been made to the icons and metadata of the EXT tokens.
